/* colors */
$white: #ffffff;
$white_dark: #dbdbdb;
$black: #2c3e50;
$gray_dark: rgba(38, 38, 38, 1);
$kin: #6f41e8;
$kin_light: rgb(104, 85, 151);
$kin_dark: #4927a0;
$background: #efedf5;
$red: red;
$green: green;

/* others */
$mobile-breakpoint: 770px;
$small-screen-breakpoint: 1440px;
