@import './constants.scss';

.Kin {
  margin: auto;
  width: 100%;
  padding: 0;
  text-align: left;

  .Kin-status {
    border-radius: 5px;
    margin: 0 auto 20px;
    text-align: center;
    width: calc(100% - 40px);
    padding: 20px;
    transition: all 0.4s 0.5s;
    color: white;
    background-color: $kin_light;

    &.up,
    &.hasAppIndex {
      background-color: $kin;
    }
  }

  .Kin-link {
    color: white;

    &:visited {
      color: white;
    }
  }

  .Kin-action-container {
    margin-bottom: 10px;
    background-color: $background;
    border-radius: 5px;
    border: 0.5px solid $kin_light;
  }

  .Kin-action-trigger {
    cursor: pointer;
    padding: 10px;
  }

  .Kin-action-title {
    font-weight: bold;
  }

  .Kin-action-subTitle {
    margin: 0;
  }

  .Kin-action {
    border-radius: 0 0 5px 5px;
    margin: auto;
    width: calc(100% - 40px);
    padding: 20px;
    background-color: $background_dark;

    .links {
      margin: 0 0 20px;
    }
  }

  .Kin-action-input-container {
    margin: auto auto 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Kin-action-input-nested {
    min-width: 100%;
    padding-top: 10px;
    padding-left: 30px;
  }

  .Kin-action-add-input {
    margin: -20px 0 20px 0;
    color: gray;
    cursor: pointer;
  }

  .Kin-action-label {
    margin: auto 10px auto 0;
    min-width: 200px;
  }

  .Kin-action-input {
    box-sizing: border-box;
    margin: auto auto auto 0;
    border-radius: 5px;
    padding: 5px;
    min-width: 250px;
    max-width: 500px;
  }

  .Kin-action-input-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Kin-action-buttons {
    display: flex;
    flex-direction: row;
  }

  .Kin-action-button {
    background-color: $kin_dark;
    color: $white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 5px;

    &:hover {
      background-color: $kin;
    }
  }

  .Kin-action-display {
    margin: 20px 0 0;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .Kin-section {
    margin: 30px 0 20px;
  }

  .Kin-explanation {
    color: $kin_dark;
    font-weight: lighter;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $kin_dark;
    margin: 20px auto;

    .bold {
      font-weight: bold;
    }
  }

  .KRELinks {
    margin: -20px 0px 20px;
  }

  input,
  select,
  option {
    font-size: 14px;
  }

  // @solana/wallet-adapter overrides

  .wallet-adapter-dropdown {
    width: 100%;
  }
  .wallet-adapter-button,
  .wallet-adapter-button-trigger {
    margin-bottom: 20px;
    padding: 32px;
    width: 100%;
    text-align: center;
  }
}
