@import './constants.scss';

.Kin {
  margin: auto;
  padding: 0;
  text-align: left;

  .Kin-status {
    border-radius: 5px;
    margin: 0 auto 20px;
    color: white;
    text-align: center;
    width: calc(100% - 40px);
    padding: 20px;

    &.up {
      background-color: $kin_dark;
    }

    &.down {
      background-color: $red;
      margin-bottom: 0;
    }
  }

  .Kin-link {
    color: white;

    &:visited {
      color: white;
    }
  }

  .Kin-action-title {
    font-size: calc(12px + 1.2vmin);
    margin-bottom: 10px;
  }

  .Kin-action-subTitle {
    margin: -5px 0 10px;
  }

  .Kin-action {
    border-radius: 5px;
    margin: auto auto 20px;
    width: calc(100% - 40px);
    padding: 20px;
    background-color: $background;

    .links {
      margin: 0 0 20px;
    }
  }

  .Kin-action-input-container {
    margin: auto auto 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Kin-action-input-nested {
    min-width: 100%;
    padding-top: 10px;
    padding-left: 30px;
  }

  .Kin-action-label {
    margin: auto 10px auto 0;
    min-width: 180px;
  }

  .Kin-action-input {
    box-sizing: border-box;
    margin: auto auto auto 0;
    padding: 5px;
    min-width: 200px;
    max-width: 500px;
  }

  .Kin-action-input-option {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Kin-action-button {
    background-color: $kin_dark;
    color: $white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: $kin;
    }
  }

  .Kin-action-display {
    margin: 20px 0 0;
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }

  h3 {
    margin: 40px 0 10px;
  }

  .KRELinks {
    margin: 0px 0px 10px;
  }
}
