@import './constants.scss';

.Links {
  .link {
    color: $white;
    cursor: pointer;
    text-decoration: underline;
    color: inherit;

    &:visited {
      color: $white;
    }
  }

  .link.darkMode {
    color: $kin_dark;

    &:visited {
      color: $kin;
    }
  }
}
