@import './constants.scss';

.Toggle {
  width: 100%;
  margin-bottom: 20px;

  .Toggle-options {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: all 0.4s;
    border: 1px solid $kin_dark;
    background-color: $background_dark;
    border-radius: 5px;
  }

  .Toggle-option {
    box-sizing: border-box;
    transition: all 0.4s;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: $kin_light;
      color: white;
    }

    &:not(:last-of-type) {
      border-right: 1px solid $kin_dark;
    }

    &.selected {
      background-color: $kin_dark;
      color: white;
      pointer-events: none;
    }
  }
}
