@import './constants.scss';

.Toggle {
  width: 100%;
  margin-bottom: 20px;

  .Toggle-options {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: all 0.4s;
    border: 1px solid $kin_dark;
    border-radius: 5px;
  }

  .Toggle-option {
    flex-grow: 1;
    background-color: $background_dark;
    transition: all 0.4s;
    padding: 20px;
    cursor: pointer;

    &.selected {
      background-color: $kin_dark;
      color: white;
      pointer-events: none;
    }
  }
}
